<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="formPage">
    <section class="formSection">
        <h1 class="formTitle">Add member</h1>
        <form th:action="@{''}" method="post">
            Username:*
            <input type="text" name="newMemberUsername" required>
            <button type="submit">Add member</button>
        </form>
        <section class="errorMessage" th:if="${errorMessage}">
            <h1 th:text="${errorMessage}"></h1>
        </section>
    </section>
</main>

</body>
</html>