<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planner</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="formPage">
    <section class="formSection">
        <form th:action="@{'/login'}" method="post">
            Username:<br>
            <input type="text" name="username"><br/>
            Password:<br/>
            <input type="password" name="password"><br/>
            <button type="submit">Log in</button>
        </form>
        <a id="Signup_button" th:href="@{'/signup'}">
            <button>Sign up</button>
        </a>
        <section class="errorMessage" th:if="${errorMessage}">
            <h1 th:text="${errorMessage}"></h1>
        </section>
    </section>
</main>
</body>
</html>